<div class="it-header-slim-wrapper">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-lg-block navbar-brand" href="https://gabrieljones.it/">Gabriel Jones</a>
          <div class="it-header-slim-right-zone">
            <a href="https://accounts.gabrieljones.it/" class="btn btn-primary btn-icon btn-full">
              <span class="rounded-icon">
                <svg class="icon icon-primary">
                  <use href="/tag/assets/bootstrap-italia/dist/svg/sprite.svg#it-pa"></use>
                </svg>
              </span>
              <span class="d-none d-lg-block">Accedi all'area personale</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
